/* GENERAL ------------------------------------------------------------*/

body{
	background: #f5fdda url(../img/summer/bg.gif) repeat-x top center;
	/* background: url(../img/rhythm.gif); */
}





.color2{
	color: #9da163;
}


div.comments ol.comments-list li:nth-child(odd){
	background: #faf9f5;
}

div.comments ol.comments-list li p.meta{
	color: #665d4e;
}

div.comments ol.comments-list li p.meta span{
	color: #e1820b;
}


/* imgs ------------------------------------------------------------*/

div#posts div.post a.more,
div.holder div.block a.more{
	background: url(../img/summer/more-button.png) no-repeat;
}



div#posts div.post p.post-comments,
div#posts div.single p.post-comments,
div#posts div.comments p.post-comments{
	background: url(../img/summer/comments-balloon.png) no-repeat;
	color: white;
}


/* PAGER ------------------------------------------------------------*/


ul.pager li{
	display: block;
	width:13px;
	height: 13px;
	float: left;
	background: url(../img/summer/pager.png) no-repeat;
	background-position: -18px 0px;
	margin-left: 5px;
}

ul.pager li:hover,
ul.pager li.active{
	background-position: -38px 0px;
}

ul.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9000px;
}

ul.pager li:first-child{
	background-position: 0px 0px;
}

ul.pager li:last-child{
	background-position: -59px 0px;
}



/* HEADER ------------------------------------------------------------*/

div#header{
	background: url(../img/summer/top-bg.png) no-repeat;
}

ul#nav li a{
	color: #665d4e;
}


ul#nav li a:hover{
	color: #c38542;
}


/* FOOTER ------------------------------------------------------------*/


div#footer{
	background: url(../img/summer/footer-bg.png) repeat-x #777264 top center;
}

div#footer ul#follow li p{
	color: #665d4e;
}


div#footer div.footer-cols ul li a{
	color: #b8b6aa;
}

div#footer div.footer-cols ul li:first-child a{
	color: #f9f7e8;
}


div#footer div.footer-bottom p.legal{
	color: #b8b6aa;
}






