<!DOCTYPE HTML>
<html>
<head>
<title>Rapid-Rescue</title>
<meta charset="utf-8">

  <script type="text/javascipt"
          src="{{ url_for('static', filename='init.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='app.js') }}">
  </script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-desktop.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-1200px.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-noscript.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-desktop.css') }}">

<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css"><![endif]-->
</head>
<body>
<div id="header-wrapper">
  <div id="header-wrapper2">
    <header id="header" class="5grid-layout">
      <div class="row">
        <div class="12u" id="logo" style="height: 82px">
          <!-- Logo -->
          <h1><a href="#" class="mobileUI-site-name"> Rapid Rescue</a></h1>

        </div>
      </div>
      <div class="row" style="padding: 0px 0px 0px 0px">
        <div class="12u" id="menu">
          <nav class="mobileUI-site-nav">
            <ul>
              <li class="current_page_item"><a href="/">Homepage</a></li>
              <li><a href="model">About the Model</a></li>
              <li><a href="me">About the Creator</a></li>
              <!-- <li><a href="contact">Contact</a></li> -->
              </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
<div id="page-wrapper">
  <div class="5grid-layout"> </div>
  <div class="12u" style="padding: 0px 0px 0px 10px">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u">
          <section>
            <div id="data_entry">
              <h2>Make a Prediction:</h2>
                  <p>
                    <br>
                      This is a lite version of the model designed to return results to the users in seconds.
                      Please enter the following information.  The model will predict the number of expected emergency responses from historical trends. Using this information, it will determine the optimal placements of response units.
                  </p>
                <form action="{{ url_for('predict') }}" method="post" id="myform">
                  Date for prediction (between 01/01/2010 and 12/31/2020):<br>
                  <input type="date" name="date_input" id="date_input" max="2020-12-31" min="2010-01-01">
                <br>
                <br>
                Quantity of response units (between 1 and 40):<br>
                <input type="number" name="num_units" id="num_units" min="1" max="40">
                <br>
                <br>
                Is there a home game?<br>
                <input type="radio" name="game" id="mariners" value="mariners" checked> Mariners<br>
                <input type="radio" name="game" id="seahawks" value="seahawks" checked> Seahawks<br>
                <input type="radio" name="game" id="sounder" value="sounders" checked> Sounders<br>
                <input type="radio" name="game" id="no_game" value="no_game" checked> No Home Game<br>
                <br>
                Time range for prediction:<br>
                <input type="radio" name="night" id="time_range" value="0" checked> 6am to 6pm (daytime)<br>
                <input type="radio" name="night" id="time_range" value="1" checked> 6pm to 6am (nighttime)<br>
                <br>
                <div id="pred_button">
                  <input type="button" id="predict" value="Predict">
                  Calculation may take a few moments.
                </div>
                <div id="calculating" hidden>
                  <h2><font color="red">Calculating...</font></h2>
                </div>
                </form>
                <br>
                <br>
                <br>
            </div>
            <div id="data_return" hidden>
              <h2>Optimal Unit Placements:</h2>
              <form>
                  <button type="button" id="return">Return</button> Make Another Prediction
              </form>
              <span id="locs_table"></span>
            </div>
          </section>
        </div>
        <div class="8u mobileUI-main-content">
          <section>
            <div id="plot_entry">
              <p> <a class="first"><img id='map' src={{ url_for('static', filename='911_neighborhoods.png') }} width="500" ></a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="footer-wrapper">
  <div id="footer-content" class="5grid-layout">
    <div class="row">
      <div class="3u">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="5grid-layout" >
  <div id="copyright">
    <p>&copy; Rapid-Rescue | Design: <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
  </div>
</div>
</body>
</html>
