<!DOCTYPE HTML>
<html>
<head>
<title>Rapid-Rescue</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-desktop.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-1200px.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/5grid/core-noscript.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-desktop.css') }}">

<script src="static/stylesheets/5grid/jquery.js"></script>
<script src="static/stylesheets/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css"><![endif]-->
</head>
<body>
<div id="header-wrapper">
  <div id="header-wrapper2">
    <header id="header" class="5grid-layout">
      <div class="row">
        <div class="12u" id="logo" style="height: 82px">
          <!-- Logo -->
          <h1><a href="#" class="mobileUI-site-name"> Rapid Rescue</a></h1>
        </div>
      </div>
      <div class="row" style="padding: 0px 0px 0px 0px">
        <div class="12u" id="menu">
          <nav class="mobileUI-site-nav">
            <ul>
              <li class="current_page_item"><a href="index.html">Homepage</a></li>
              <li><a href="model.html">About the Model</a></li>
              <li><a href="me.html">About the Creator</a></li>
              <li><a href="contact.html">Contact</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
<div id="page-wrapper">
  <div class="5grid-layout"> </div>
  <div class="12u" style="padding: 0px 0px 0px 10px">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u">
          <section>
            <b>
            <h1>Using Data Science to achieve a Rapid Rescue</h1>
            </b>
            <br>
            <h2>Prediction and Allocation:</h2>
            <p> The machine learning algorithm Poisson regression is used to predict the number of expected medical emergency responses in each zone of the city during a given period. Poisson regression is a generalized linear model used to predict counts or frequencies. The model considers historical trends as well as important events such as major holidays and sporting events. Note that the model is able to track with the increasing number of medical emergencies as well as seasonal trends. Once number of medical emergencies has been predicted, an allocation algorithm allocates the emergency response units to each zone based on anticipated need.</p>
            <br><br><br><br><br><br><br><br>
            <h2>Positioning:</h2>
            <p>Once predictions have been made and units have been allocated to zones, relevant historical data is retrieved. A geographical variation of K-means clustering is used in conjunction with the allocations and historical data to determine the optimal emergency response unit placements for rapid response.</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h2>The Skeleton:</h2>
            <p>The data entered by the user is handed to the Poisson Model and History Retriever. The Poisson Model predicts the number of expected emergency medical responses for each zone and then passes that information to the Allocator. The Allocator distributes the units to each zone based on expected need and hands these allocations to the Clusterer. The information entered by the user is also given to the History Retriever, which retrieves relevant background information and passes it to the Clusterer. The Clusterer uses the allocations as well as the relevant historical data to calculate the optimal placements of emergency resources for rapid responses.</p>
              <br>
              <br>
              <br>
              </body>
            </ul>
          </section>
        </div>
        <div class="8u mobileUI-main-content">
          <section>
            <p> <a class="first"><img src={{ url_for('static', filename='data_and_model.png') }} width="500" ></a></p>
            <br>
            <p> <a class="first"><img src={{ url_for('static', filename='seattle_911_zones2.png') }} width="500" ></a></p>
            <br>
            <br>
            <p> <a class="first"><img src={{ url_for('static', filename='structure.png') }} width="450" ></a></p>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="footer-wrapper">
  <div id="footer-content" class="5grid-layout">
    <div class="row">
      <div class="3u">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="5grid-layout" >
  <div id="copyright">
    <p>&copy; Rapid-Rescue | Design: <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
  </div>
</div>
</body>
</html>
