<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
    </head>
  <body>
    <!-- page content -->
    <h1>Emergency Response Predictor and Resource Allocator</h1>
    <p>
        Please enter the following information.  The model will make emgergency response predictions and determine optimal resources locations.
    </p>

  <form>
    Date for prediction:
    <input type="date" name="date_input" max="2020-12-31" min="2010-01-01">
  </form>
  </body>
</html>
