<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
        <src include jquery></src>
        <src include javascript (needs to be in static folder)></src>
    </head>
  <body>
    <!-- page content -->
    <h1>Emergency Response Predictor and Resource Allocator</h1>
    <p>
        Please enter the following information.  The model will make emgergency response predictions and determine optimal resources locations.
    </p>
 <br>
  <form>
    Date for prediction:<br>
    <input type="date" name="date_input" max="2020-12-31" min="2010-01-01">
  </form>
  <br>
  <form>
    Is there a Mariners home game?<br>
  <input type="radio" name="mariners" value="1" checked> Yes<br>
  <input type="radio" name="mariners" value="0" checked> No<br>
  </form>
  <br>
  <form>
    Is there a Seahawks home game?<br>
  <input type="radio" name="seahawks" value="1" checked> Yes<br>
  <input type="radio" name="seahawks" value="0" checked> No<br>
  </form>
  <br>
  <form>
    Is there a Sounders home game?<br>
  <input type="radio" name="sounders" value="1" checked> Yes<br>
  <input type="radio" name="sounders" value="0" checked> No<br>
  </form>
  <br>
  <form>
    Time range for prediction:<br>
  <input type="radio" name="night" value="0" checked> 6am to 6pm (daytime)<br>
  <input type="radio" name="night" value="1" checked> 6pm to 6am (nighttime)<br>
  </form>
 <br>
  <body>

  <input type="button" onclick="" value="Predict">

  </body>

  </body>
</html>
